<article class="game-board-container">
  <section class="game-board-content" [ngClass]="{ draw: isDraw }">
    <t3-board
      [currentPlayer]="currentPlayer"
      (endTurn)="endTurn($event)"
    ></t3-board>
  </section>
  <section class="scoring-container">
    <t3-scoring
      class="scoring-content"
      [player1IsCurrent]="player1.isCurrent"
      [player1IsWinner]="player1.isWinner"
      [player1Wins]="player1.wins"
      [player2IsCurrent]="player2.isCurrent"
      [player2IsWinner]="player2.isWinner"
      [player2Wins]="player2.wins"
      [draws]="draws"
      [isDraw]="isDraw"
    ></t3-scoring>
  </section>
</article>
