.game-board-container {
  --viewport-padding: 32px;
  display: grid;
  justify-content: center;
  grid-template-columns:
    1fr min(32rem, calc(100% - var(--viewport-padding) * 2))
    1fr;
  grid-template-areas:
    ". content ."
    ". scoring .";
  padding: var(--viewport-padding);
}

.game-board-content {
  justify-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  grid-area: content;
}

@media (max-width: 750px) {
  .game-board-content {
    width: 100%;
    max-width: 400px;
  }
}

.scoring-container {
  grid-area: scoring;
}

.scoring-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.draw > div {
  animation: blink 0.3s steps(1) 3;
}
