.container {
  --viewport-padding: 32px;
  display: grid;
  grid-template-columns:
    1fr min(25rem, calc(100% - var(--viewport-padding) * 2))
    1fr;
  grid-template-areas: ". toggle .";
}

.theme-toggle {
  grid-area: toggle;
  justify-items: right;
}

a {
  padding: 2rem;
}
