<article
  data-testid="game-board"
  class="game-board-container"
  [ngClass]="{ 'processing-move': processingMove$ | async }"
>
  <!--? Idea for toggle: https://codepen.io/Enki/pen/oBqBqG?editors=1100 -->
  <section class="game-nav-container">
    <div>
      <a
        data-testid="game-mode-button"
        id="btnGameMode"
        type="button"
        (click)="gameModeClick()"
      >
        {{ gameModeButtonText$ | async }}
      </a>
    </div>
    @if (showDifficultyButton$ | async) {
    <div>
      <a
        data-testid="difficulty-button"
        id="btnGameDifficulty"
        type="button"
        (click)="gameDifficultyClick()"
      >
        {{ gameDifficultyButtonText$ | async }}
      </a>
    </div>
    }
  </section>
  <section class="game-board-content" [ngClass]="{ draw: isDraw$ | async }">
    <div
      class="game-board-grid"
      [ngClass]="{
        'coming-soon-disabled': showComingSoon$ | async
      }"
    >
      @for (square of gameBoard$ | async; track $index){
      <t3-square
        data-testid="board-square"
        class="game-board-square"
        [gamePiece]="square.gamePiece"
        [isWinner]="square.isWinner"
        (click)="squareClick($index)"
      ></t3-square>
      } @if ((hasWinner$ | async)) {
      <svg
        class="strike-through"
        [class]="winningPattern$ | async"
        viewBox="0 0 300 300"
      >
        <line
          [attr.x1]="(lineStart$ | async)?.x"
          [attr.y1]="(lineStart$ | async)?.y"
          [attr.x2]="(lineEnd$ | async)?.x"
          [attr.y2]="(lineEnd$ | async)?.y"
        />
      </svg>
      }
    </div>
    @if (showComingSoon$ | async) {
    <div class="coming-soon">
      <h1>coming soon</h1>
    </div>
    }
  </section>
  @if (!(showComingSoon$ | async)) {
  <section class="scoring-container">
    <t3-scoring class="scoring-content"></t3-scoring>
  </section>
  }
</article>
