<article class="game-board-container">
  <section class="game-board-content" [ngClass]="{ draw: isDraw }">
    <div class="game-board-grid">
      @for (square of gameBoard; track $index){
      <t3-square
        class="game-board-square"
        [gamePiece]="square.gamePiece"
        [isWinner]="square.isWinner"
        (click)="squareClick($index)"
      ></t3-square>
      }
    </div>
  </section>
  <div class="scoring-container">
    <div class="scoring-player">
      <div
        class="scoring-label"
        [ngClass]="{ 'current-player': player1.isCurrent }"
      >
        Player 1 (X)
      </div>
      <span
        class="scoring-value"
        [ngClass]="{ 'winning-player': player1.isWinner }"
      >
        {{ player1.wins }}
      </span>
    </div>
    <div class="scoring-player">
      <div class="scoring-label">Draw</div>
      <span class="scoring-value" [ngClass]="{ 'winning-player': isDraw }">
        {{ draws }}
      </span>
    </div>
    <div class="scoring-player">
      <div
        class="scoring-label"
        [ngClass]="{ 'current-player': player2.isCurrent }"
      >
        Player 2 (O)
      </div>
      <span
        class="scoring-value"
        [ngClass]="{ 'winning-player': player2.isWinner }"
      >
        {{ player2.wins }}
      </span>
    </div>
  </div>
</article>
