.game-board-container {
  --viewport-padding: 32px;
  display: grid;
  justify-content: center;
  grid-template-columns:
    1fr min(44rem, calc(100% - var(--viewport-padding) * 2))
    1fr;
  grid-template-areas:
    ". header ."
    ". content .";
  padding: var(--viewport-padding);
}

.game-board-header {
  grid-area: header;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.game-board-content {
  justify-self: center;
  width: 500px;
  aspect-ratio: 1 / 1;
  position: relative;
  grid-area: content;
}

.game-board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.game-board-square {
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.game-board-square:nth-of-type(3n + 3) {
  border-right: 0;
}

.game-board-square:nth-of-type(n + 7) {
  border-bottom: 0;
}

@media (max-width: 480px) {
  .game-board-square {
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .game-board-content {
    width: 100%;
    max-width: 400px;
  }
}
