<article class="game-board-container">
  <section class="game-board-content">
    <div class="game-board-grid">
      <div class="game-board-square">X</div>
      <div class="game-board-square">X</div>
      <div class="game-board-square">X</div>
      <div class="game-board-square">O</div>
      <div class="game-board-square">O</div>
      <div class="game-board-square">O</div>
      <div class="game-board-square">X</div>
      <div class="game-board-square">X</div>
      <div class="game-board-square">X</div>
    </div>
  </section>
</article>
