<div class="scoring-player">
  <div
    data-testid="player-1"
    id="player1"
    class="scoring-label"
    [ngClass]="{
      'select-result': selectPlayer1
    }"
  >
    Player 1 (X)
  </div>
  <span
    data-testid="player-1-score"
    id="player1Score"
    class="scoring-value"
    [ngClass]="{
      'select-result': selectPlayer1
    }"
  >
    {{ player1.wins }}
  </span>
</div>
<div class="scoring-player">
  <div
    id="draw"
    class="scoring-label"
    [ngClass]="{ 'select-result': selectDraw }"
  >
    Draw
  </div>
  <span
    id="drawTotal"
    class="scoring-value"
    [ngClass]="{ 'select-result': selectDraw }"
  >
    {{ draws }}
  </span>
</div>
<div class="scoring-player">
  <div
    data-testid="player-2"
    id="player2"
    class="scoring-label"
    [ngClass]="{
      'select-result': selectPlayer2
    }"
  >
    Player 2 (O)
  </div>
  <span
    data-testid="player-2-score"
    id="player2Score"
    class="scoring-value"
    [ngClass]="{
      'select-result': selectPlayer2
    }"
  >
    {{ player2.wins }}
  </span>
</div>
